extends ../layout

block menu
  active = "users"

block content
  h3 Users
  table.table.table-striped
    thead
      tr
        th Name
        th Email
        th Date Created
        th Active
        th Action
    tbody
      each user in users
        tr
          td= user.name
          td= user.email
          td= dateFormat(user.creationDate, "dd/mm/yyyy")
          td= user.active ? "Yes" : "No"
          td
            a.btn.btn-mini.btn-primary(href="/user/edit/#{user._id}") Edit
            a.btn.btn-mini.btn-danger(href="/user/delete/#{user._id}") Delete
      

